body {
    background-color: darkgrey;
    position: relative;
}

.game-header {
    background-color: rgb(105, 255, 185);
    width: 100%;
    display: flex;
}

.game-header .game-header-element {
    flex-grow: 0;
    padding: 0 10px 0 10px;
    margin: 1px;
}

.game-logo {
    flex-grow: 1 !important;
    padding-left: 10px;
}

.logged span {
    font-weight: bold;
}

.hamburger {
    width: 50px;
    height: 50px;
    padding: auto;
    size: 100px;
    position: relative;
    border: 0;
}
.hamburger--1,
.hamburger--2,
.hamburger--3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 65%;
    background-color: black;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .info-dropdown ul {
    position: absolute;
    top: 100%;
    margin: 0;
    right: 0;
    width: auto;
    background-color: rgb(13, 129, 71);
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0;
}
.hamburger:hover .info-dropdown ul {
    display: flex;
}
.hamburger .info-dropdown ul li {
    margin: 0;
    padding: 5px 0 5px 5px;
    width: 150px;
}
.hamburger .info-dropdown ul li:hover {
    background-color: rgb(10, 100, 55);
}

.hamburger--2 {
    top: 50%;
}
.hamburger--3 {
    top: 70%;
}

.p5-sketch {
    border: solid 1px black;
    padding: 10px;
    margin: 0;
}
.p5-sketch canvas {
}

input[type="range"] {
    margin-top: 10px;
    outline: none;
    -webkit-appearance: none;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}
.slider--red::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, red);
}
.slider--green::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, green);
}
.slider--blue::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, blue);
}
